@import "rsuite/dist/rsuite.css";

.login-div {
  width: 50%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 232, 232);
  padding: 0 20px;
  background-image: url("https://cdn.shopify.com/s/files/1/0060/5582/1381/files/KakaoTalk_20230922_164031973_02.jpg?v=1695750631");
}

.variants-secton .Polaris-Icon{
  margin: 0;
  margin-right: 20px;
  color:var(--p-color-text-interactive);
}

.Polaris-Connected{
  align-items: center;
}

.variants-secton .Polaris-Icon--colorBase svg{
  fill: rgb(20, 87, 175);
}

.Polaris-Link{
  text-decoration: none !important;
}


.div-padding .Polaris-Page .Polaris-Page__Content {
  padding: 0 0 !important;
  margin: 0 0 !important;
}


.div-padding .Polaris-Page{
  padding: 0 0 !important;
  margin: 0 0 !important;
}

.margin-top{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}
.margin-left{
  margin-left: 10px;
}
.margin-right{
  margin-right: 10px;
}
.Polaris-Table .Polaris-Card__Section{
  padding: 0
}

.ck-content{
  min-height: 100px;
}

.Polaris-Navigation__Item{
    color:rgba(31, 33, 36, 1) !important;
    text-decoration:none !important;
}


.store_stats .Polaris-Text--root{
    color:#777777;
    font-weight:700;
    font-size:13px;

}
.store_stats .product_stats {
    display:block;
}

.store_stats .product_stats p{
    display:inline-block;
}

.store_stats .product_stats .product_status_disabled{
    margin-left:54px;
}

.store_stats .product_stats .product_status_aprroved{
    margin-left:103px;
}

.store_stats .product_stats .seller_status_aprroved{
    margin-left:122px;
}
.product_stats .Polaris-Badge{
    border-radius:unset;
    background:rgb(141 214 255);

}

.product_stats .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .Polaris-Badge{
    border-radius:unset;
    background:rgb(141 214 255);

}

.product_stats .approval_pending .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .approval_pending .Polaris-Badge{
    border-radius:unset;
    background: rgb(255, 186, 89);

}


.product_stats .product_status_aprroved .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .product_status_aprroved .Polaris-Badge{
    border-radius:unset;
    background: rgb(105, 173, 103);

}

.product_stats .product_status_disabled .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .product_status_disabled .Polaris-Badge{
    border-radius:unset;
    background: rgb(143, 143, 143);

}

.store_stats .product_stats:nth-child(2){
    margin-top:7px;
}

.store_stats .product_stats_span{
    margin-left:7px;
}

.earning_stats .Polaris-Badge {
    border-radius:unset;
    background: #2662B3
}

.earning_stats .Polaris-Badge .Polaris-Text--root {
   color:white;
    font-weight:500;

}

.earning_stats .product_stats_span {
   margin-left:7px;

}

.store_stats .product_stats .seller_status_disabled {
    margin-left:60px;

}

.top_toggle_div{
    display: inline-flex;
    border: 1px solid #ebe1e1;
    padding: 6px;
}


.top_toggle_div .div_label{
    margin-left: 10px;
}


.top_toggle_div .tgl-btn{
    background: #ebe8e8;
}
.Polaris-Table.product_listing .Polaris-Card__Section--subdued{
    background-color: #fff ;
}

.approved .Polaris-Badge{
    background:#A1EDD0;
}

.approval_pending .Polaris-Badge{
    background-color: #FAC9A8;
}

.disabled .Polaris-Badge{
    background-color:#FBC5BC;
}

.unfulfilled .Polaris-Badge{
    background:#FFEF9D;
}

.partial .Polaris-Badge{
    background:#FFD6A4;
}

.unfulfilled .Polaris-Badge .Polaris-Badge__PipContainer .polaris-Badge-Pip--progressComplete{
    background:#FFEF9D;
}

.payment_pending .Polaris-Badge .Polaris-Badge__PipContainer .polaris-Badge-Pip--progressComplete{
    background:#ffd6a4;
}

.payment_pending .Polaris-Badge{
    background:#ffd6a4;
}

.partially_refunded .Polaris-Badge .Polaris-Badge__PipContainer .polaris-Badge-Pip--progressComplete{
    background:pink;
}

.partially_refunded .Polaris-Badge{
    background:pink;
}


.voided .Polaris-Badge .Polaris-Badge__PipContainer .polaris-Badge-Pip--progressComplete{
    background:lightskyblue;
}

.voided .Polaris-Badge{
    background:lightskyblue;
}



.seller-list .Polaris-Labelled__LabelWrapper .Polaris-Label{
    margin-top:10px
}

.css-13cymwt-control{
    margin-left:3px;
    border-color:rgba(171, 177, 186, 1) !important;
}

.order_listing_search .Polaris-Connected .Polaris-Connected__Item .Polaris-TextField{
    padding:1px;
}
.product_listing_search .Polaris-Connected .Polaris-Connected__Item .Polaris-TextField{
    padding:1px;
}
.commission_listing_search .Polaris-Connected .Polaris-Connected__Item .Polaris-TextField{
    padding:1px;
}
.seller_commission_listing_search .Polaris-Connected .Polaris-Connected__Item .Polaris-TextField{
    padding:1px;
}

.fulfillement_status .Polaris-Badge{
    background:#FFEF9D;
}

.ticket-alert-c {
    position: fixed;
    right: 423px;
    top: 9px;
    z-index: 999 !important;
}
.password-change-card{
    margin-bottom:20px;
}
.Polaris-Stack__Item .Polaris-Tag{
    margin-top:3px ;
}

.drag-custom div{
    display:flex;
    flex-wrap: wrap;
}
.Polaris-Product-Gallery{
    margin:5px;
}

.partially_paid .Polaris-Badge{
    background:#FFD6A4;
}

.hidden_fields div div{
    display:none;
}

.hidden_fields .Polaris-Choice{
    display:none;
}

.Product-Title-Section h2:first-of-type{
    min-width:150px;
}


.Discount-Summary .status-div{
    display:none;
}
