@import "rsuite/dist/rsuite.css";

.login-div {
  width: 50%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 232, 232);
  padding: 0 20px;
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
}

.variants-secton .Polaris-Icon{
  margin: 0;
  margin-right: 20px;
  color:var(--p-color-text-interactive);
}

.Polaris-Connected{
  align-items: center;
}

.variants-secton .Polaris-Icon--colorBase svg{
  fill: rgb(20, 87, 175);
}

.Polaris-Link{
  text-decoration: none !important;
}


.div-padding .Polaris-Page .Polaris-Page__Content {
  padding: 0 0 !important;
  margin: 0 0 !important;
}


.div-padding .Polaris-Page{
  padding: 0 0 !important;
  margin: 0 0 !important;
}

.margin-top{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}
.margin-left{
  margin-left: 10px;
}
.margin-right{
  margin-right: 10px;
}
.Polaris-Table .Polaris-Card__Section{
  padding: 0
}

.ck-content{
  min-height: 100px;
}

.Polaris-Navigation__Item{
    color:rgba(31, 33, 36, 1) !important;
    text-decoration:none !important;
}


.store_stats .Polaris-Text--root{
    color:#777777;
    font-weight:700;
    font-size:13px;

}
.store_stats .product_stats {
    display:block;
}

.store_stats .product_stats p{
    display:inline-block;
}

.store_stats .product_stats .product_status_disabled{
    margin-left:54px;
}

.store_stats .product_stats .product_status_aprroved{
    margin-left:103px;
}

.store_stats .product_stats .seller_status_aprroved{
    margin-left:122px;
}
.product_stats .Polaris-Badge{
    border-radius:unset;
    background:rgb(141 214 255);

}

.product_stats .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .Polaris-Badge{
    border-radius:unset;
    background:rgb(141 214 255);

}

.product_stats .approval_pending .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .approval_pending .Polaris-Badge{
    border-radius:unset;
    background: rgb(255, 186, 89);

}


.product_stats .product_status_aprroved .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .product_status_aprroved .Polaris-Badge{
    border-radius:unset;
    background: rgb(105, 173, 103);

}

.product_stats .product_status_disabled .Polaris-Badge .Polaris-Text--root {
    color:white ;
    font-weight:500;
}

.product_stats .product_status_disabled .Polaris-Badge{
    border-radius:unset;
    background: rgb(143, 143, 143);

}

.store_stats .product_stats:nth-child(2){
    margin-top:7px;
}

.store_stats .product_stats_span{
    margin-left:7px;
}

.earning_stats .Polaris-Badge {
    border-radius:unset;
    background: #2662B3
}

.earning_stats .Polaris-Badge .Polaris-Text--root {
   color:white;
    font-weight:500;

}

.earning_stats .product_stats_span {
   margin-left:7px;

}

.store_stats .product_stats .seller_status_disabled {
    margin-left:60px;

}
